
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-8-Wkw {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq {
  box-sizing: border-box;
  padding: 2.5rem 1.6rem 0.8rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-pnuw-mRy {
  margin: 0rem 0rem 1.8rem 0.4rem;
  width: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-pnuw-mRy .rectangle-12-W8f {
  margin-right: 3.2rem;
  width: 18.4rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-pnuw-mRy .rectangle-12-pf9 {
  width: 17.4rem;
  height: 4.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-a4xf-k31 {
  margin: 0rem 0rem 1.8rem 0.4rem;
  box-sizing: border-box;
  padding: 1.5rem 1.572rem 1.6rem 1.881rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #d9d9d9;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-a4xf-k31 .material-symbols-light-search-SAj {
  margin: 0.092rem 2.381rem 0rem 0rem;
  width: 1.6383rem;
  height: 1.6385rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-a4xf-k31 .search-grocery-products-9L3 {
  margin: 0.5rem 4.1rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-a4xf-k31 .material-symbols-light-mic-outline-eGo {
  margin: 0rem 3.072rem 0.167rem 0rem;
  width: 1.6rem;
  height: 2.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-a4xf-k31 .ph-camera-thin-AF9 {
  margin-bottom: 0.0063rem;
  width: 2.6563rem;
  height: 2.3375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-pxxq-Tk3 {
  margin: 0rem 0.4rem 3rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem 7rem 0rem 9.6rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #0e32ec;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d9d9d9;
  background-color: #eefc4b;
  border-radius: 2rem;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-xvgs-vdd {
  margin: 0rem 0.4rem 0rem 1.2rem;
  width: calc(100% - 1.6rem);
  height: 2.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-xvgs-vdd .auto-group-rap1-FR1 {
  box-sizing: border-box;
  padding: 0.4rem 1rem 0.4rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-xvgs-vdd .auto-group-rap1-FR1 .zondicons-location-B3m {
  margin-right: 3.7rem;
  width: 1.4rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-xvgs-vdd .auto-group-rap1-FR1 .delivery-to-380063-ahmedabad-7TD {
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-xvgs-vdd .auto-group-rap1-FR1 .delivery-to-380063-ahmedabad-7TD .delivery-to-380063-ahmedabad-7TD-sub-0 {
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-xvgs-vdd .auto-group-rap1-FR1 .delivery-to-380063-ahmedabad-7TD .delivery-to-380063-ahmedabad-7TD-sub-1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.iphone-14-15-pro-max-8-Wkw .auto-group-fe9u-Ewq .auto-group-xvgs-vdd .auto-group-vcwy-bmh {
  width: 9.5rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-dhix-sjD {
  width: 100%;
  height: 3.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdf9a0;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo {
  width: 100%;
  height: 61.2rem;
  position: relative;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .grab-steal-deal-JpX {
  width: 18rem;
  height: 3rem;
  position: absolute;
  left: 4.4rem;
  top: 20.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-zrzq-Cuu {
  width: 40.9rem;
  height: 15.6rem;
  position: absolute;
  left: 1.7rem;
  top: 1.7rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-zrzq-Cuu .image-30-jew {
  margin: 1.5rem 2.7rem 0rem 0rem;
  width: 12.9rem;
  height: 14.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-zrzq-Cuu .image-31-Taw {
  margin: 0rem 0.6rem 1.6rem 0rem;
  width: 13rem;
  height: 14rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-zrzq-Cuu .image-32-zKy {
  margin-bottom: 1.1rem;
  width: 11.7rem;
  height: 11.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .image-33-Xqh {
  width: 34.2rem;
  height: 23rem;
  position: relative;
  left: 4.3rem;
  top: 27.6rem;
  background-size: 98.403% 91.703%;
  background-position: -0.0537rem 1.9083rem;
  background-image: url('../assets/image-33.png');
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .shop-up-to-600-for-discount-DyR {
  width: 17.1rem;
  height: 1.6rem;
  position: absolute;
  left: 4.4rem;
  top: 24.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-elb1-ivB {
  width: 38.2548rem;
  height: 4.9rem;
  position: absolute;
  left: 1.8rem;
  top: 53.8rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-elb1-ivB .material-symbols-light-home-outline-2R5 {
  margin-right: 4.3563rem;
  width: 4.9rem;
  height: 4.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-elb1-ivB .carbon-categories-9kb {
  margin: 0rem 5.256rem 0.4rem 0rem;
  width: 3.5875rem;
  height: 2.775rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-elb1-ivB .mi-notification-58T {
  margin: 0rem 6.8rem 0.1rem 0rem;
  width: 3rem;
  height: 3.3337rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-elb1-ivB .codicon-account-Cis {
  margin: 0rem 5.281rem 0.2rem 0rem;
  width: 2.9rem;
  height: 2.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-elb1-ivB .auto-group-psjq-wAf {
  margin-bottom: 0.3313rem;
  width: 2.1735rem;
  height: 2.2688rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-naqw-Tuh {
  width: 37.2rem;
  height: 1.3rem;
  position: absolute;
  left: 2.9rem;
  top: 58.7rem;
  display: flex;
  align-items: center;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-naqw-Tuh .home-nwy {
  margin-right: 4.6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-naqw-Tuh .categories-8kw {
  margin-right: 2.9rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-naqw-Tuh .notifications-syR {
  margin-right: 4.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-naqw-Tuh .account-cRD {
  margin-right: 4.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-8-Wkw .auto-group-qdnx-mJo .auto-group-naqw-Tuh .cart-9g3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
